@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightBlue: #64adc4;
  --medBlue: #4887b7;
  --darkBlue: #376096;
  --darkMint: #36826f;
  --midMint: #62ad99;
  --mint: #8fdbc5;
  --peach: #f8d4b4;
  --coral: #ff6f61;
}


/* FONTS */

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

.font-poppins {
  font-family: 'Poppins';
}

.font-open-sans {
  font-family: 'Open Sans';
}

/* MISC */

.smooth-transition {
  transition: all 0.5s linear;
}


/* BASIC */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { /* for the react error appearance */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* INPUTS */

input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s; /* removes chrome autofill background */
}

.auth-input {
  background: rgb(255, 255, 255, 0.4);
  color: black;
}
.auth-input::placeholder {
  color: #727272;
}

/* BUTTONS */

.primary-btn {
  background: var(--medBlue);
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background: var(--darkBlue);
}
.primary-btn:focus {
  background: var(--darkBlue);
}

.secondary-btn {
  border: 2px var(--medBlue) solid;
  background: rgb(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}
.secondary-btn:hover {
  border: 2px var(--darkBlue) solid;
  background: var(--darkBlue);
}
.secondary-btn:focus {
  border: 2px var(--darkBlue) solid;
  background: var(--darkBlue);
}

.tertiary-btn {
  background: var(--mint);
  border: 2px var(--mint) solid;
  text-align: center;
  transition: all 0.3s ease;
}
.tertiary-btn:hover {
  background: rgb(0, 0, 0, 0.4);
  color: white;
}
.tertiary-btn:focus {
  background: rgb(0, 0, 0, 0.4) !important;
  color: white;
}


/* LINKS */

.primary-link {
  color: black;
  transition: all 0.15s
}
.primary-link:hover {
  color: var(--darkBlue);
}
.primary-link:focus {
  color: var(--darkBlue);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  outline: none;
}

.secondary-link {
  width: fit-content; /* stops links showing :hover style when cursor isn't even on link */
  color: #393939;
}
.secondary-link:hover {
  color: black;
  text-decoration-line: underline;
}
.secondary-link:focus {
  color: black;
  text-decoration-line: underline;
  outline: none;
}


.sidebar-section {
  position: relative;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: larger;
  transform: translateX(-25%);
}

.sidebar-option {
  width: 50%;
  color: white;
  text-align: left;
  font-size: large;
}